<form (ngSubmit)="onSubmit(createForm)" #createForm="ngForm">
  <div class="form-group">
    <label for="name">Character Name</label>
    <input
     type="text"
     id="name"
     name="name"
     class="form-control"
     ngModel
     required
     #nameCtrl="ngModel"/>
    <span class="help-block" *ngIf="nameCtrl.invalid && nameCtrl.touched">Please enter a name!</span>
  </div>
  <div class="form-group">
    <label for="side">Side</label>
    <select name="side" id="side" class="form-control" ngModel>
      <option *ngFor="let side of availableSides" [value]="side.value">{{ side.display }}</option>
    </select>
  </div>
  <button [disabled]="createForm.invalid" class="btn btn-primary" type="submit">Create</button>
</form>
